<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erwanix.gsb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme">
        <activity
            android:name="com.erwanix.screen.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.erwanix.screen.AddRecord" />
        <activity android:name="com.erwanix.screen.UpdateRecord" />
        <activity android:name="com.erwanix.screen.DeleteRecord" />
        <activity android:name="com.erwanix.screen.ViewRecord" />
        <activity android:name="com.erwanix.screen.AddUpdateValue" >
        </activity>
        <activity android:name="com.erwanix.screen.AndroidAdvanceSqliteActivity"></activity>
    </application>

</manifest>